.jumbotron {
  background-image: url("../src/images/pexels-nick-collins-1293120.jpg");
  /* background-image: linear-gradient( #e8eaf37a, #9fa8daab); */
  background-size: cover;
  height: 100vh;
  padding-top: 20vh;
}

.jumbotron-container {
  background-color: #dc471a94;
  color: rgba(216, 223, 231, 0.856);
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.navbar {
  background-image: linear-gradient( #fafafa, #bdbdbd);  padding-bottom: 15px;
  padding-top: 15px;
}

.btn {
  background-color: rgb(150, 31, 12);
}