@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2700&q=80");
  /* background-image: linear-gradient( #e8eaf37a, #9fa8daab); */
  background-size: cover;
  height: 100vh;
  padding-top: 20vh;
}
body {
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80");
  background-size: cover;
}
.jumbotron-container {
  color: rgba(22, 22, 22, 0.952);
}

.jumbotron-container h1 {
  font-family: 'Caveat', cursive;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

.animate__animated.animate__backInRight {
  --animate-duration: 2s;
}


.animate__animated.animate__flipInY {
  --animate-duration: 1500ms;
}

.animate__animated.animate__flipOutY {
  --animate-duration: 1500ms;
}

.animate__animated.animate__fadeOutLeft {
  --animate-duration: 5s;
}
.top-navbar {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 7px dotted #000;
  box-shadow: inset 0 -3px 0 0 teal, 0 3px 0 teal;
}

.btn, button {
  background-color: #009ab1c9;
}
a {
  color: rgb(164, 161, 161);
}

.card-container {
  padding: 15px;
}
.myjustify {
  justify-content: flex-end;
}

.my-list-group {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.my-list-group div {
  margin: 5px;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.15);
  font-family: 'Rubik', sans-serif;
  font-size: large;

}

.list-view-image {
  width: 250px;
  height: 167px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}



/* This is a native class to the Card component from bootstrap */
.card-body {
  padding: 0;
}
.carousel {
  background-color: black;
  width: 750px;
  height: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.splash-space {
  font-family: 'Caveat', cursive;
  font-size: xx-large;
}

.top-navbar .navbar-brand {
  font-family: 'Caveat', cursive;
  font-size: 36px;
}

.top-navbar .navbar-nav {
  font-family: 'Anton', sans-serif;
  font-size: large;
}

/* Set these as there own classes instead of ones from bootstrap default */
.mr-sm-2 {
  font-family: 'Anton', sans-serif;
  font-size: large;
}

.ml-sm-4 {
  font-family: 'Anton', sans-serif;
  font-size: large;
}

.btn-primary {
  font-family: 'Anton', sans-serif;
}

.ml-sm-2 {
  font-family: 'Anton', sans-serif;
  color:rgba(22, 22, 22, 0.952);
}

.logged-in-info {
  font-family: 'Anton', sans-serif;
  font-size: large;
}

.card-detail-navbar {
  background-image: none;
  justify-content: space-around;
  background-color: rgba(26, 28, 28, 0.678);
}

.create-card-header {
  padding-left: 20px;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
}
.create-card-section {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}
.create-card-dropdown {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.card-detail-holder {
  height: 280px;
}
.my-card-title {
  background-color: rgba(0, 0, 0, 0.227);
  margin-left: 50px;
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
}

.myfont-big {
  padding-top: 50px;
}

.card-detail-header {
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
.card-detail-holder{
  width: 500px;
  border-radius: 10px;
  background-size: cover;

}

.card-detail-navbar {
  width: 400px;
  border-radius: 10px;
  font-size: 22px;
  padding: 0;
}
.inside-body {
  width: 500px;
  height: 280px;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;  
  font-family: 'Rubik', sans-serif;
}
.photo-label {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 18px;
}
.general-link {
  font-size: 25px;
  color: black;
}
.card {
  background-color: rgba(255, 255, 255, 0.05);
}
.card-detail-all {
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.sm-nav-icon {
  font-size: 25px;
}

.button-style {
  margin: 5px;
  padding: 3px;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  background-color: #009ab1c9;
  border: 2px solid teal;
  font-family: 'Anton', sans-serif;

}

.photo-thumbnail {
  border: 2px solid black;
  border-radius: 6px;
  margin: 5px;
  background-size: cover;
  height: 167px;
  width: 250px;
  background-repeat: no-repeat;

}

.dropdown-item {
  font-family: 'Rubik', sans-serif;

}

.photo-label {
  font-family: 'Rubik', sans-serif;
}